main.new_location_form{
    margin:10px;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main.new_location_form form{
    width: 60%;
}
main.new_location_form h1{
    margin:30px;
}

main.new_location_form label{
    margin-top:12px;
    margin-bottom: 3.5px;
}
main.new_location_form form #submit{
    width:80%;
    max-width:250px;
    margin-top:30px;
}

main.new_location_form form #submit input{
  height:50px;
  color:black;
  font-size:25px;
}

main.new_location_form form #submit:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}




main.new_location_form input{
    margin-bottom: 10px;
    min-width:100%;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    

}

main.new_location_form input:focus{
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}