
ul#nav{
    display:flex;
    width:100vw;
    background: rgba(0,0,0,0.8);
    justify-content: flex-end;
    gap:16px;
    min-height:70px;
    /* position:fixed; */
    flex-wrap:wrap;
    padding-right:16px;
  }

  ul#nav li{
    list-style-type: none;
    color:white;

  }

ul#nav li a{
    width:60px;
    padding:8px;
    border-radius:6px;
    /* background-color: #8fbdeb; */
    text-decoration: none;
    color:rgb(245, 211, 225);
  }  

ul#nav li{
  margin-top:25px;
}