<%= stylesheet_link_tag "add-locations-form", media: "all" %>

<main class = "new_location_form">
<h1>Submit a location to our database</h1>

<%= render "form", location: @location %>
</div>
<br>

<main>
  <%= link_to "View all locations", locations_path %>
</div>
